<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Some Website</title>
	</head>

	<body>
		<h1>Not Available</h1>

		<p>Site is being updated. Please try again later</p>

	</body>
</html>